In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('balance.txt',sep=' ')

In [4]:
df.iloc[:,:]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

In [5]:
df.groupby('Ethnicity')['Income'].mean()

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [12]:
df.groupby('Married')['Income'].mean()

Married
No     43.641090
Yes    46.217082
Name: Income, dtype: float64

In [19]:
 df.max()

Balance      38.785123
Income         186.634
Limit            13913
Rating             982
Cards                9
Age                 98
Education           20
Gender            Male
Student            Yes
Married            Yes
Ethnicity    Caucasian
dtype: object

In [22]:
df.min()

Balance              3.749403
Income                 10.354
Limit                     855
Rating                     93
Cards                       1
Age                        23
Education                   5
Gender                 Female
Student                    No
Married                    No
Ethnicity    African American
dtype: object

In [23]:
df.sum()

Balance                                            5371.669899
Income                                               18087.554
Limit                                                  1894240
Rating                                                  141976
Cards                                                     1183
Age                                                      22267
Education                                                 5380
Gender       MaleFemaleMaleFemaleMaleMaleFemaleMaleFemaleFe...
Student      NoYesNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNo...
Married      YesYesNoNoYesNoNoNoNoYesYesNoYesYesNoYesYesYes...
Ethnicity    CaucasianAsianAsianAsianCaucasianCaucasianAfri...
dtype: object

In [39]:
df.count()

Balance      400
Income       400
Limit        400
Rating       400
Cards        400
Age          400
Education    400
Gender       400
Student      400
Married      400
Ethnicity    400
dtype: int64

In [40]:
df.groupby('Gender').count()

,Balance,Income,Limit,Rating,Cards,Age,Education,Student,Married,Ethnicity
Gender,,,,,,,,,,
Female,207,207,207,207,207,207,207,207,207,207
Male,193,193,193,193,193,193,193,193,193,193